<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-5" style="text-align: center;">
        <%= link_to "Home", root_path %>
      </div>
    </div>  
    <div id="copyright">&copy; <%= link_to " RPG game editor ", root_url %><%= Time.now.strftime("%Y.") %></div>
  </div>
</footer>