#show_attribute {
	table {
		width: 100%;
		td {
			padding: 5px;
			text-align: left;
			margin-bottom: 5px;
		}
		.attribute_icon {
			width: 10%;
		}
		.intensity {
			width: 40%;
		}
		.attribute_name {
			width: 25%;
		}
		.intensity_value {
			width: 10%;
		}
		.attribute_name_field {
			width: 100%;
		}
		.hide_submit {
			padding: 0;
			border: none;
			background: transparent;
		}
		.modifying_icon {
			color: #fbfbfb;
			&:hover {
				color: #eea236;
			}
		}
	}
}