html {
  min-height: 100% !important;
  width: 100%;
  clear: both;
  position: relative;

}

body {
  background-color: #8b8b8b;
  background-image: url(asfalt-light.png);
  background-repeat: repeat;
  margin-bottom: 200px;
  color: #fbfbfb;
  a {
    color: #003366;
    &:hover {
    color: #30a2da;
    text-decoration: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-bottom: 30px;
}

.navbar-nav > li > a:hover {
  background-color: transparent;
}

footer {
  margin-top: -100px;
  height:100px;
  margin-bottom: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#copyright {
  width: 125px;
  margin: 40px auto 0 auto;
  font-size: 0.8em;
}